@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth 50ms;
    -moz-scrollbar-height: 40px;
    -webkit-scrollbar-height: 40px;
    --gpt-svg-color: rgba(2, 195, 154);
    --cloudflare-color: rgba(255, 150, 50);
    --invalid-oauth-color: rgba(255, 0, 50);
    --cooldown-color: rgba(0, 0, 0);
    --code-color: rgba(0, 0, 0, 0);
}

:root {
  --primary-color: rgba(53, 55, 64);
  --primary-color-invisible: rgba(53, 55, 64, 0);
  --secondary-color: rgba(68, 70, 84);
  --tertiary-color: rgba(68, 70, 84);
  --font-color: rgba(255, 255, 255);
}

::-webkit-scrollbar {
  color: green;

}

::-moz-scrollbar {
  color: green;
}

::-ms-scrollbar {
  color: green;

}

.summary-toggle-button {
    display: block;
    width: 100px;
    height: 32px;
    margin: none;
    padding: none;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.summary-toggle-button:hover {
  box-shadow: rgba(100, 100, 100, 1) 0px 0px 0px 0px, rgba(100, 100, 100, 1) 0px 0px 0px 0px, rgba(100, 100, 100, 1) 0px 0px 15px 0px;
}

.summariser-extension {
    width: 100%;
    height: 800px;
    position: absolute;
    display: none;
    background-color: transparent;
    border-radius: 5px;
    /* border: 4px solid var(--tertiary-color); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    z-index: 10000000;
    top: 24px;
    border-radius: 12px;
    background-attachment: scroll;
}

.info-div-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  padding: 0;
  border-radius: 8px;
}

.input-form-container {
  width: 100%;
  height: 160px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.info-div {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow-y: auto;
  scroll-snap-type: proximity;
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
  overflow-y: scroll;
  overflow-y: overlay;
}

.input-form {
  width: 100%;
  height: 100%;
  /* background-color: #272831; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
  padding-inline: 20px;
  background-color: transparent;
  flex-direction: column;
  background-color: transparent;
  background: transparent;
  background-image: linear-gradient(180deg, var(--primary-color-invisible) ,var(--primary-color) 58.85%);
}

.textarea-container {
  position: relative; /* needed for absolutely positioned textarea */
  background-color: var(--tertiary-color);
  margin: 0;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
}

.textarea-container textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  max-height: 200px;
  letter-spacing: 1px;
  transition: "height 0.2s ease-in-out";
}

.enter-button{
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom: 12.5px;
}

.enter-button:hover {
  background-color: var(--primary-color);
}

.enter-button > svg {
  scale: 1.5;
  background-color: transparent;
  fill: var(--font-color);
}

.loading-dots {
  height: 100%;
  width: 100%;
  text-justify: center;
  color: var(--font-color);
}

.assistant-message {
  width: 100%;
  min-height: 50px;
  background-color: var(--secondary-color);
  display: flex;
  padding: 20px;
  font-size: 16px;
}

.user-message {
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  display: flex;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--font-color);
}

.assistant-icon {
  width: 30px;
  height: 30px;
  scale: 0.8;
  display: flex;
  justify-content: top;
  align-items: center;
}

.assistant-icon > svg {
  fill: var(--gpt-svg-color);
}

.user-icon {
  width: 26px;
  height: 26px;
  scale: 2;
  display: flex;
  justify-content: top;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
}

.question {
  width: 95%;
  font-size: 16px;
  white-space: normal;
  padding-left: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 400;
  color: var(--font-color);
}

.assistant-message > *:nth-child(1) {
  align-items: center;
  justify-content: center;
}

.user-message > *:nth-child(1) {
  align-items: center;
  justify-content: center;
}

.block-text{
  width: 100%;
  margin-block: 20px;
  margin-inline: none;
  color: var(--font-color);
}

.block-text-first {
  width: 100%;
  margin-block: 0px 0px 20px;
  margin-inline: none;
  color: var(--font-color);
}

.list-element {
  width: 100%;
  padding-left: 20px;
  color: var(--font-color);
}

.list-element::before {
  content: "•"; /* add a bullet point */
  color: var(--font-color); /* change the color of the bullet point */
  margin-left: -20px; /* use a negative margin to overlap the padding */
  margin-right: 10px;
}

.list-element::marker {
  display: none;
  content: "";
  color: transparent;
}

.list {
  padding-left: 16px;
  width: 100%;
  color: var(--font-color);
}

.code-top {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.copy-button {
  width: 140px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

pre {
  background-color: var(--code-color);
}

code {
  width: 100%;
  margin: 0;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  tab-size: 10;
  display: flex;
  white-space: pre-wrap;
  text-shadow: none;
  flex-direction: column;
}

.clipboard-svg {
  margin-right: 6px;
  width: 22px;
  height: 100%;
}

.tick-svg {
  margin-right: 6px;
  width: 22px;
  height: 100%;
}

.copy-button > h4 {
  font-size: 16px;
  width: 50%;
}

.copy-button > svg {
  margin-right: 6px;
  width: 22px;
  height: 100%;
}

.info-div::-moz-scrollbar-thumb {
  height: 80px;
}

.multi-util-button {
  background-color: var(--gpt-svg-color);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  height: 36px;
  width: 100%;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-util-cloudflare {
  background-color: var(--cloudflare-color);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  height: 36px;
  width: 100%;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-util-oauth {
  background-color: var(--invalid-oauth-color);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  height: 36px;
  width: 100%;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-util-cooldown {
  background-color: var(--cooldown-color);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  height: 36px;
  width: 100%;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-util-hidden {
  width: 95%;
  height: 36px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  bottom: 8px;
  background-color: transparent;
  display: none;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  pointer-events: none;
}

.multi-util-oauth-setup {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  height: 36px;
  width: 100%;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-bar-container{
  width: 95%;
  height: 36px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  bottom: 8px;
  background-color: transparent;
}

.tool-bar-container > button {
  margin-inline: 5px;
}

.settings-button {
  width: 52px;
  height: 100%;
  border: none;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: background-color 250ms;
}

.settings-button > svg {
  width: 100%;
  height: 100%;
  fill: var(--primary-color);
  transition: transform 250ms;
}

.settings-button:hover > svg {
  transform: rotate(90deg);
  fill: rgba(255,255,255);
}

.theme-button {
  width: 52px;
  height: 100%;
  border: none;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: background-color 250ms;
}

.theme-button > svg {
  width: 100%;
  height: 100%;
  fill: var(--primary-color);
  transition: transform 250ms;
}

.theme-button:hover > svg {
  fill: rgba(255,255,255);
}

.light-theme-svg {
  fill: var(--primary-color);
}

.dark-theme-svg {
  fill: var(--primary-color);
}

.lower-div {
  width: 100%;
  height: 160px;
  background-color: var(--primary-color);
  position: relative;
  bottom: 0;
}